<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|"></title>
    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js"></script>
</head>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">

</th:block>
<body>
<div th:replace="~{fragments/header::header}"></div>
<div layout:fragment="content">
    <div class="container">
        <form action="/security-login/post" method="post">
            <div class="form-group row">
                <label for="inputTitle" class="col-sm-2 col-form-label"><strong>제목</strong></label>
                <div class="col-sm-10">
                    <input type="text" name="title" class="form-control" id="inputTitle" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputAuthor" class="col-sm-2 col-form-label"><strong>작성자</strong></label>
                <div class="col-sm-10">
                    <input type="text" name="author" class="form-control" id="inputAuthor" />
                </div>
            </div>
            <div class="form-group row">
                <label for="inputContent" class="col-sm-2 col-form-label"><strong>내용</strong></label>
                <div class="col-sm-10">
                    <textarea type="text" name="content" class="form-control" id="inputContent"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-auto mr-auto"></div>
                <div class="col-auto">
                    <input class="btn btn-primary" type="submit" role="button" value="글쓰기" />
                </div>
            </div>
        </form>
    </div>
    <div th:replace="~{fragments/footer::footer}"></div>
</div>
</body>
</html>
