@charset "uft-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    color: #000000;
    background: #fff;
    border: 1px solid #000000;
}


a {
    color: #000000;
}

/* 목록의 마커 제거 */
li {
    list-style: none;
}

div {
    border: 1px solid #000000;
    vertical-align: bottom;
}

/* header */
header {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #fff;
    height: 54px;
    padding: 0 32px;
    border: 1px solid #000000;
}


.logo {
    position: absolute;
}

nav {
    display: flex;
    justify-content: end
}

nav li {
    display: inline-block;
    margin: 16px 16px;
}

/* section common */
section {
    width: 1496px;
    margin: 0 auto;
    border: 1px solid #000000;

}

.section {
    padding-top: 81px;
}

.section h2 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #ccc;
}

.section h2+p {
    margin-bottom: 32px;
}

/* section1 */

#main_img {
    position: relative;
}

#main_img h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    border: #000000;
    background: #000;
    transform: translate(-50%, -50%);
    padding: 8px 24px;
    color: #fff;
}

/* section2, 3 common */

#game ul::after,
#mobile ul::after {
    content: '';
    clear: both;
    display: block;
}

#game li:not(:nth-of-type(4n)),
#mobile li:not(:nth-of-type(4n)) {
    margin-right: 8px;
}


/* section2 */
#game ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#game h2 {
    margin-bottom: 48px;
}

#game li h3 {
    position: absolute;
    border: 1px solid #000000;
    background: #000000;
    color: #fff;
    padding: 8px 16px;

}

/* section3 */
#mobile ul {
    display: flex;
    justify-content: space-between
}

#mobile li h3 {
    margin: 16px 0 8px;
}

#mobile li p {
    margin: 8px 0;
}

#mobile li a {
    display: block;
    background: #ccc;
    text-align: center;
    padding: 8px 0;
    margin-top: 16px;
    border: 1px solid #000000;
}

/* section4 */
#news input {
    width: 100%;
    height: 40px;
    display: block;
    padding: 0 10px;
    margin: 20px 0;
    border: 1px solid #000000;
}

#news button {
    display: block;
    margin: 40px 0;
    background: #000000;
    color: #fff;
    width: 154px;
    height: 40px;
}


/* footer*/
footer {
    border: 1px solid #000000;
    color: #000000;
    text-align: center;
    padding: 32px 0;
}