<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|"></title>
    <!-- CSS only -->

    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <!-- font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/footer.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <style>
                .section {
            width: 100%;
            min-height: 630px;
            padding: 32px 0;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

        .section .container {
            width: 1320px;
            height: 566px;
        }

    </style>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<div class="section">
    <div role="main" class="container">
        <div class="starter-template">

            <table class="table table-bordered">
                <thead>
                <caption>글 읽기</caption>
                </thead>
                <tbody>
                <tr>
                    <th>제목</th>
                    <td th:text="${boardDto.title}"></td>
                </tr>
                <tbody>
                <tr>
                    <th>작성자</th>
                    <td th:text="${boardDto.writer}"></td>
                </tr>
                <tr>
                    <th>작성일</th>
                    <td th:inline="text">[[${#temporals.format(boardDto.createdDate, 'yyyy-MM-dd HH:mm')}]]</td>
                </tr>
                <tr>
                    <th>본문 내용</th>
                    <td th:text="${boardDto.content}"></td>
                </tr>
                </tbody>
            </table>

            <!-- 수정/삭제 -->
            <div>
                <a th:href="@{'/security-login/board/edit/' + ${boardDto.id}}">
                    <button class="btn btn-primary">수정</button>
                </a>
                <form id="delete-form" th:action="@{'/security-login/board/delete/' + ${boardDto.id}}" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn btn-warning" id="delete-btn">삭제</button>
                </form>
            </div>

            <!-- 변수 셋팅 -->
            <script th:inline="javascript">
            /*<![CDATA[*/
            var boardDto = /*[[${boardDto}]]*/ "";
            /*]]>*/



            </script>
            <script>
    document.getElementById("delete-btn").addEventListener("click", function() {
        var confirmation = confirm("정말로 삭제하시겠습니까?");
        if (confirmation) {
            document.getElementById("delete-form").submit();
        }
    });


            </script>

            <!-- script -->
            <script th:inline="javascript" th:src="@{/js/board.js}"></script>

        </div>
    </div>
</div>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>