<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title th:text="|${pageName}|"></title>
    <!-- CSS only -->

    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <!-- font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/footer.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link th:href="@{/css/layout1.css}" rel="stylesheet">
    <style>
            .section {
            width: 100%;
            min-height: 630px;
            padding: 32px 0;
            display:flex;
            flex-direction: column;
            justify-content: center;
        }

        .section .container {
            width: 1320px;
            height: 566px;
        }

    </style>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>
<div class="section">
    <div role="main" class="container">
        <div class="starter-template">
            <form role="update-form" th:action="@{'/security-login/board/edit/' + ${boardDto.id}}" method="post">
                <input type="hidden" name="_method" value="put"/>
                <input type="hidden" name="id" th:value="${boardDto.id}"/>

                제목 : <input type="text" name="title" th:value="${boardDto.title}"> <br>
                작성자 : <input type="text" name="writer" th:value="${boardDto.writer}"> <br>
                <textarea name="content" th:text="${boardDto.content}"></textarea><br>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">수정</button>
                    <button type="submit" class="btn btn-warning">취소</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer::footer}"></div>
</body>
</html>