<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer" class="footer">
    <!-- 푸터 -->
    <div id="footer">
        <div class="leftCont">
            <div class="logo"></div>
            <div class="addr">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <p>경기도 안양시 만안구 안양로 303 메쎄포스빌 8층 | TEL : 031) 446-2111 </p>
                <p>사업자등록번호 : 2023-04-06 | 통신판매업 신고 : 안양 제 0920호 | 대표이사 : 최윤석 외 4명</p>
            </div>
            <div class="copy">COPYRIGHT 2023 ENDCAR COMPANY.ALL RIGHTS RESERVED</div>
        </div>
        <div class="fs">
            <a href="#" class="fsBtn"><span>관련 사이트 열기</span><i class="fa-solid fa-plus"></i></a>
        </div>
    </div>
</div>
</html>