@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

img {
    width: 100%;
    vertical-align: top;
}

li {
    list-style: none;
}

button {
    color: #fff;
    border: none;
    background: transparent;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* typo */
html {
    font-size: 10px;
}

body {
    font-size: 30px;
    font-family: 'Single Day', cursive;
}

.logo {
    font-size: 3rem;
    font-weight: normal;
    letter-spacing: 4px;
}

h2,
h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-weight: 400;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.6rem;
}

a {
    color: #555;
    text-decoration: none;
}

::placeholder {
    color: #ccc;
}

#main_img h2 {
    letter-spacing: 4px;
    color: rgba(255, 255, 255, .9);
}

/* 헤더 */
header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    padding: 12px 30px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

nav {
    display: none;
}

/* 섹션1 */
#main_img {
    position: relative;
}

#main_img h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#main_img b {
    padding: 14px 12px 8px;
    background: rgba(0, 0, 0, 0.75);
}

#main_img span {
    display: none;
}

/* 섹션2~4 공통 */
.section {
    padding: 81px 30px 0;
}

.section h2 {
    line-height: 1;
    border-bottom: 1px solid #f1f1f1;
    padding: 20px 0;
    margin-bottom: 20px;
}

.section li {
    margin-bottom: 16px;
}

/* 섹션2 */

#game h2 {
    margin-bottom: 40px;
}

#game li {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

#game h3 {
    color: #fff;
}

#game h3 {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    padding: 4px 8px;
    color: #fff;
    background: #000;
    transition: .5s;
    border-radius: 10px 0;
}

#game img {
    transition: .5s;
}

#menu li:hover img {
    transform: scale(1.05);
}

#game li:hover h3 {
    background: rgb(250, 128, 114);
}

/* 섹션3 */
#mobile>p {
    margin-bottom: 40px;
}

#mobile h3 {
    margin-top: 16px;
}

#mobile li {
    overflow: hidden;
    border-radius: 10px;
}

#mobile li div {
    flex-grow: 1;
}

#mobile li p:first-of-type {
    color: #999;
    margin: 4px 0;
}

#mobile a {
    display: block;
    text-align: center;
    background: #ccc;
    padding: 6px 0;
    margin-top: 16px;
}

#mobile a:hover {
    background: rgba(240, 128, 128, 0.5);
}

/* 섹션4 */
#contact input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border: 1px solid #ccc;
}

#contact button {
    padding: 12px 16px;
    margin: 20px 0 45px;
    background: #000;
}

#contact button:hover {
    background: rgba(240, 128, 128, 0.5);
}

.map {
    height: 42vw;
}

/* 푸터 */
footer {
    color: #777;
    background: #000;
    text-align: center;
    padding: 30px;
}

footer span:nth-of-type(1),
footer span:nth-of-type(2) {
    display: none;
}


/* 600이상 */
@media (min-width:600px) {

    /* 헤더 */
    header {
        display: flex;
        justify-content: space-between;
    }

    /* 내비게이션 */
    nav {
        display: block;
    }

    nav ul {
        display: flex;
    }

    nav ul li:not(:first-of-type) {
        margin-left: 48px;
    }

    nav span {
        display: block;
        text-indent: -999em;
        transition: 0.5s;
        height: 2px;
        width: 0;
        background: silver;
    }

    li:hover span {
        width: 100%;
    }

    /* 섹션2~4 공통 */

    .section ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .section li {
        width: calc(50% - 8px);
    }

    /* 섹션3 */
    #mobile li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* 992이상 */
@media (min-width:992px) {

    .section li {
        width: calc(25% - 8px);
        max-width: 362px;
    }

    #main_img h2 {
        font-size: 4vw;
    }

    #main_img h2 span {
        display: none;
    }

    /* 섹션 */
    .section {
        width: 1496px;
        margin: 0 auto;
        padding: 81px 0 0;
    }
}